@font-face {
    font-family: 'Cheddar Gothic Stencil';
    src: url('CheddarGothicStencil.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://github.com/pythonnewb1355/pythonnewb1355.github.io/blob/main/Seal_Borderless_Monotone.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #008056;
}

h1 {
    text-align: center;
    font-family: 'Cheddar Gothic Stencil', sans-serif;
    font-size: 75px;
    color: #003027;
}

.image-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    transition: transform 0.3s, border 0.3s;
}

.image-link img {
    width: 200px;
    height: auto;
}

.image-link p {
    font-family: 'Cheddar Gothic Stencil', sans-serif;
    color: #003027; 
    font-size: 24px;
    
    padding: 5px;
    margin-top: 10px;
    transition: border 0.3s;
}

.image-link:hover {
    transform: scale(1.2);
}

.image-link:hover p {
    border: none;
    color: #008056;
}
