@font-face {
    font-family: 'Cheddar Gothic Stencil';
    src: url('CheddarGothicStencil.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #008056;
    color: #F0ECDD;
}

h1 {
    text-align: center;
    font-family: 'Cheddar Gothic Stencil', sans-serif;
    font-size: 64px;
    color: #F0ECDD;
}

.image-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s, border 0.3s;
}

.image-link img {
    width: 200px;
    height: auto;
}

.image-link p {
    font-family: 'Cheddar Gothic Stencil', sans-serif;
    color: #F0ECDD;
    font-size: 24px;

    padding: 5px;
    margin-top: 10px;
    transition: border 0.3s;
}

.image-link:hover {
    transform: scale(1.2);
}

.image-link:hover p {
    border: none;
    color: #F0ECDD;
}

#bear-counter {
    text-align: center;
    font-family: 'Cheddar Gothic Stencil', sans-serif;
    font-size: 32px;
    color: #F0ECDD;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}

.link-container {
    margin: 0 10px;
    margin-right: 20px;
    margin-left: 50px;
}

.link-container:last-child {
    margin-right: 0;
}

a {
    font-family: "Cheddar Gothic Stencil", sans-serif;
    font-size: 2.5em;
    color: #F0ECDD;
    text-decoration: none;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

a:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0 10px; /* Add some padding around the image */
  }
  
  .logo-container img {
    height: 200px; /* Adjust the image height as needed */
    width: auto;
  }
  